@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  scroll-behavior: smooth;
  --background: #ffffff;
  --foreground: #171717;
  --primary: #a2a7fb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.league {
  font-family: 'League Spartan', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.frosted-glass {
  background: rgba(0, 0, 0, 0.05);
  /* Adjust the color and transparency as needed */
  backdrop-filter: blur(1px);
  /* Adjust the blur amount */
  -webkit-backdrop-filter: blur(1px);
  /* Optional: to match your existing rounded corners */
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.151);
}

.text-3xl {
  transition: color 0.3s ease-in-out;
}